.about__section(data-section-name="Phylosophy")
  .about__bg
    +image('about__bg1.png')
  .about__content
    .about__hidden
      button.about__show
        +svg('arrow-hide', 20, 20)
        span Раскрыть блок
        +svg('arrow-hide', 20, 20)
    h2.about__heading ФИЛОСОФИЯ
    h3.about__subheading предназначение и базовые принципы системы битбон
    .about__lead
      +svg('logo', 21, 24)
    .about__text
      p Bitbon System — инфраструктурный проект, направленный на внедрение технологии блокчейн
        sup(data-tip="Вид распределенного реестра, который представляет собой последовательность блоков. Они генерируются по определенным правилам и содержат в себе транзакции, осуществляемые в момент генерации блока. При этом каждый последующий блок данной структуры содержит информацию о предыдущем.").tooltip [i] 
        | в реальный сектор экономики с максимальным соответствием законодательной базе государства. Он позволит перейти к реальной цифровой экономике, которая качественно обновит сферы инвестирования, обмена ценностями и ведения бизнеса, избавив участников данных процессов от лишней бюрократии.
      p Компания-разработчик Simcord
        sup(data-tip="IT-компания с многолетним опытом в области исследований и разработки цифровых продуктов для финансовых рынков. Создатель и первый Оператор Bitbon System.").tooltip [i] 
        | привлекла квалифицированных юристов и экономистов, разработавших основополагающий документ «Публичный контракт Системы Битбон (
        a(href="https://www.bitbon.space/ru/publichnyy-kontrakt-sistemy-bitbon" target="_blank" rel="nofollow") ПКБ
        | )»
        sup(data-tip="Цифровой документ-соглашение ООО «СИМКОРД», как основателя и оператора Системы Bitbon, со всеми ее Участниками. Данное соглашение обозначает задачи и цели Системы Bitbon, определяет и закрепляет основы ее развития, устанавливает свод базовых правил и условий по созданию и использованию цифровых активов в Системе Bitbon. Основная задача Публичного контракта Системы Bitbon — создать равные условия для всех ее Пользователей. Ознакомиться с Публичным контрактом можно по ссылке.").tooltip [i]
        | . Совместно с научными учреждениями, в числе которых Национальная академия правовых наук Украины, разработаны научно-правовые и экспертные
        a(href="https://www.simcord.com/ru/legal-information" target="_blank" rel="nofollow") заключения
        | : «Правовая природа функционирования Системы Bitbon», «Цифровые активы как объект правового регулирования», «Диагностика токена блокчейна Bitbon на соответствие цифровому активу», «Обоснование понятия «Цифровой актив»: экономико-правовой аспект». Все вышеупомянутые научные труды являются прочным фундаментом для аргументации правового статуса Системы Битбон
        sup(data-tip="Децентрализованная платформа на базе технологии блокчейн, которая позволяет пользователям оцифровать активы и внести в блокчейн Системы Bitbon с целью безопасного обмена этими активами с другими без лишней бюрократии и финансовых издержек. В качестве финансовой выгоды пользователям доступен Майнинг Community PoS и Контрибьютинг — способ инвестирования в перспективные бизнес-проекты. Ключевой компонент Системы Bitbon — цифровой актив Bitbon.").tooltip [i] 
        | и заложенных в нее цифровых активов
        sup(data-tip="Производная от права на ценность единица учета в Системе Bitbon, выраженная в виде Bon, Projectbon или Bitbon.").tooltip [i]
        p Производная от права на ценность единица учета в Системе Bitbon, выраженная в виде Bon, Projectbon или Bitbon.
        p Помимо активного участия в научно-правовом развитии индустрии цифровых активов, компания Симкорд инициировала открытие инновационной образовательной платформы «Академия информационной экономики».
        p Отдельного внимания заслуживает монография «Цифровые активы и их экономико-правовое регулирование в свете развития технологии блокчейн», которая была презентована на «III Харьковском международном юридическом форуме». На него были приглашены профессора, доктора наук, высокопоставленные чиновники Украины и зрители со всего мира, которые интересуются технологией блокчейн и ее потенциалом для общества. Рекомендуем ознакомиться с видеоотчетом форума.
        p Научно-правовых исследований подобного рода нет ни у одной компании, связанной с рынком блокчейн-технологий. Это еще раз подчеркивает профессионализм компании Симкорд.
        p Фундаментальный подход, заложенный в Bitbon System, позволит в ближайшем будущем достичь официального уровня сотрудничества с государством. В свою очередь, это предоставит возможность не только физическому, а и юридическому лицу использовать возможности системы:
        ul
          li оцифровать
            sup(data-tip="Процесс создания цифрового актива Bon или Projectbon из актива. Процедура оцифровки актива состоит из 4 этапов: 1-й этап — создание уникальной цифровой копии актива. 2-й этап — создание Divaunit. 3-й этап — создание Протокола цифрового актива. 4-й этап — создание цифрового актива.").tooltip [i] 
            | и оценить Актив;
          li зафиксировать право собственности на Активы
            sup(data-tip="Ресурсы, которые обладают материальной ценностью. Активами могут выступать: Bitbon, Bon, услуги, движимое и недвижимое имущество, машины и производственное оборудование, банковские вклады, авторские права, финансовые инструменты, ценные бумаги, ноу-хау, торговые марки, доли в уставных фондах и других компаниях, а также другие ценности.").tooltip [i] 
            | ;
          li вести учет и обмен Активами;
          li повысить прозрачность договорных отношений;
          li заключать безопасные сделки;
          li хранить капитал в максимально защищенной системе на основе технологии блокчейн;
          li приумножить капитал, будучи владельцем цифрового актива Bitbon
            sup(data-tip="Цифровой актив, является токеном допуска к Системе Битбон и единицей измерения стоимости всех цифровых активов. Обеспечивает оборотоспособность цифровых активов. Использование Битбон позволяет устанавливать и контролировать правоотношения между владельцем физического и владельцем цифрового актива. Наделен уникальными атрибутами и свойствами, прописанными в Публичном контракте Системы Битбон и Протоколе Битбон.").tooltip [i]
            | ;
          li привлечь финансирование для создания и развития бизнеса при помощи Контрибьютинга
            sup(data-tip="Вид деятельности, направленный на получение выгоды от инвестирования в интересующий бизнес-проект. Выгода от Контрибьютинга выражается в Bitbon, полученных в соответствии с количеством Projectbon, эквивалентным долевому участию в проекте. Вся информация о проекте содержится в цифровом документе — Протокол Projectbon.").tooltip [i]
            | ;
        p Активом могут выступать любые ценности: движимое и недвижимое имущество, машины и производственное оборудование, банковские вклады, авторские права, финансовые инструменты, ценные бумаги, ноу-хау, торговые марки, доли в уставных фондах и других компаниях, доли в различных проектах с юридическими и физическими лицами, а также другие ценности.
        p Одно из важнейших преимуществ Системы Bitbon — максимальная поддержка интересов и удобства Пользователей
          sup(data-tip="Субъект правовых отношений, который совершил какое-либо действие в рамках  Системы Bitbon без владения цифровым активом.").tooltip [i]
          | Это выражено в уникальном программном обеспечении, среди которого:
          ul
            li мобильное приложение и сайт бизнес-ориентированной социальной сети One Space с возможностью общения между Участниками
              sup(data-tip="Пользователь, который использует цифровой актив Bitbon для реализации целей и задач в Системе Bitbon.").tooltip [i]
              | и управления своими цифровыми активами;
            li информационно-новостной портал Bitbon.Today;
            li официальный сайт Bitbon Space со всеобъемлющей информацией юридического характера;
            li биржа цифровых активов Bit.Trade для обмена цифровыми активами.
        p Эти продукты — прочный фундамент для расширения инфраструктуры Bitbon System, а также внедрения в повседневное использование государственными структурами и людьми по всему миру.
        p Учитывая вышеуказанные аспекты, можно сделать вывод: применение Системы Битбон позволит ускорить и упростить экономические процессы, ведение хозяйственной деятельности, преобразовать сферу юриспруденции, сформировать единую систему ценностей, создать принципиально новый подход к инвестированию, созданию и ведению бизнеса любого уровня, а также стабильно зарабатывать независимо от возраста и технической квалификации.
.about__section(data-section-name="Developer")
  .about__bg
    .swiper-about
      .swiper-wrapper
        .swiper-slide
          +image('about__bg2.png')
        .swiper-slide
          +image('about__bg3.png')
        .swiper-slide
          +image('about__bg5.png')
        .swiper-slide
          +image('about__bg6.png')
      .swiper-pag
      .swiper-prev
        +svg('arrow-slider', 30, 64)
      .swiper-next
        +svg('arrow-slider', 30, 64)
  .about__content
    .about__hidden
      button.about__show
        +svg('arrow-hide', 20, 20)
        span Раскрыть блок
        +svg('arrow-hide', 20, 20)
    h2.about__heading РАЗРАБОТЧИК
    h3.about__subheading кто такой и каковы причины абсолютного доверия
    .about__lead
      +svg('logo', 21, 24)
    .about__text
      p Simcord
        sup(data-tip="IT-компания с многолетним опытом в области исследований и разработки цифровых продуктов для финансовых рынков. Создатель и первый Оператор Bitbon System.").tooltip [i]
        | — компания с 
        a(href="https://www.simcord.com/ru/istoriya") историей 
        | и репутацией. Концепция применения научного подхода к работе на финансовых рынках обеспечила правильное развитие Компании в течение прошедших 10 лет работы.
      p Благодаря своей практике, специалисты компании достигли понимания вывода финансовых продуктов на международный рынок — так, чтобы фискальные органы юрисдикций не имели претензий.
      p Компания абсолютно прозрачна для государственных органов и регуляторов. Доказательством являются многочисленные аудиты, проведенные организациями Deloitte, KPMG, PWC, соответствие MIFID II (ESMA), организация ежедневного репортинга о проведенных торговых сделках посредством EMIR reporting (ESMA), а также наличие действующих лицензий. Данные аспекты наглядно демонстрируют, что Компания обладает достаточным опытом для обеспечения легального использования Системы Bitbon
        sup(data-tip="Децентрализованная платформа на базе технологии блокчейн, которая позволяет пользователям оцифровать активы и внести в блокчейн Системы Bitbon с целью безопасного обмена этими активами с другими без лишней бюрократии и финансовых издержек. В качестве финансовой выгоды пользователям доступен Майнинг Community PoS и Контрибьютинг — способ инвестирования в перспективные бизнес-проекты. Ключевой компонент Системы Bitbon — цифровой актив Bitbon.").tooltip [i]
        | .