.card {
  &--article {
    @include font('Nova', false, inherit);
    display: block;
    background-color: #fff;
    position: relative;
    border-radius: 20px;
    text-decoration: none;
    transition: transform 0.14s ease;
    @include min-w($widthDesktopSmall) {
      height: 305px;
      &:hover {
        transform: translateY(-6px);
        &:before {
          box-shadow: 0 0 40px rgba(68, 65, 78, 0.55);
        }
        .card__filters {
          top: -20px;
          left: 20px;
          transform: scale(1);
        }
      }
    }
    &.ex {
      @include min-w($widthTabletLarge) {
        height: 330px;
      }
      .card__title {
        @include font('Roboto', 18, false, 700);
        line-height: 1.3em;
        margin-bottom: 20px;
        @include min-w($widthTabletLarge) {
          font-size: 25px;
          order: -1;
          margin-top: 0;
        }
      }
      .card__bottom {
        @include min-w($widthTabletLarge) {
          margin-bottom: 33px;
        }
      }
      .card__undertitle {
        @include min-w($widthTabletLarge) {
          margin-bottom: 0;
          line-height: 1.75;
        }
      }
      .card__author {
        @include min-w($widthTabletLarge) {
          margin-right: 36px;
        }
      }
      .card__heading {
        svg {
          @include min-w($widthTabletLarge) {
            width: 18px;
            height: 18px;
          }
        }
      }
      .card__body {
        flex-wrap: nowrap;
        justify-content: flex-start;
      }
      .card__img {
        @include min-w($widthTabletLarge) {
          width: 40%;
        }
      }
    }
    &::before {
      @include min-w($widthTabletLarge) {
        transition: all 0.14s linear;
        width: 88%;
        height: 80%;
        box-shadow: 0 0 54px rgba(68, 65, 78, 0.3);
        border-radius: 12px;
      }
    }
    @include min-w($widthTabletLarge) {
      @include flex(flex-start, stretch, row, nowrap);
      width: 100%;
    }
    .card__link {
      display: none;
      @include min-w($widthTabletLarge) {
        display: block;
        @include font(false, 18px, #5575c5);
        line-height: 1;
      }
    }
    .card__views {
      @include min-w($widthTabletLarge) {
        bottom: 20px;
        right: 15px;
      }
    }
    .card__img {
      @include min-w($widthTabletLarge) {
        width: 25%;
        max-width: 400px;
      }
      @include min-w($widthDesktopSmall) {
        width: 35%;
      }
      @include min-w($widthDesktopSmall) {
        height: auto;
      }
      img {
        @include min-w($widthTabletLarge) {
          border-radius: 20px;
        }
      }
    }
    .card__body {
      padding: 23px 25px;
      @include min-w($widthTabletLarge) {
        border-radius: 0 20px 20px 0;
        @include flex(space-between, flex-start, column);
        width: 75%;
        padding: 35px 80px 35px 60px;
      }
    }
    .card__title {
      @include min-w($widthMobileLarge) {
        font-size: 26px;
      }
      @include min-w($widthDesktopSmall) {
        font-size: 35px;
        margin: 20px 0;
      }
      @include min-w($widthDesktopLarge) {
        font-size: 41px;
      }
    }
    .card__filters {
      @include flex();
      position: absolute;
      left: 7px;
      top: 7px;
      transition: all 0.2s linear;
      transform: scale(0.9);
      &-item {
        position: relative;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 8px 7px rgba(56, 56, 56, 0.15);
        @include center();
        &:not(:last-child) {
          margin-right: 7px;
        }
        z-index: 10;
        svg {
          width: 60%;
          height: 60%;
        }
        img {
          background-color: transparent;
        }
      }
    }
    .card__bottom {
      justify-content: space-between;
    }
  }
}
