.articles
  img(src="https://bitbon.today/static/images/news_bg.jpg" alt="").articles__poster
  .articles__header
    .articles__header-container
      h1.articles__title Статьи о Системе Битбон, инвестициях и блокчейне
      h2.articles__undertitle Обучающие и аналитические статьи на доступном языке расскажут о Bitbon System, цифровом активе Bitbon, инвестициях и белом рынке технологии блокчейн в мировой экономике. Познавайте новое и делитесь своими знаниями в комментариях.
  .articles__section
    .articles__container
      .filter
        .filter__title Фильтрация статей по категориям
        .filter__section
          .filter__container
            .filter__list
              .filter__btn-skeleton
                .filter__img-skeleton
                .filter__btn-title-skeleton
              .filter__btn-skeleton
                .filter__img-skeleton
                .filter__btn-title-skeleton
              .filter__btn-skeleton
                .filter__img-skeleton
                .filter__btn-title-skeleton
              .filter__btn-skeleton
                .filter__img-skeleton
                .filter__btn-title-skeleton
      .card__list
    


            