.bonnie {
  @include font('Nova');
  &__wrapper {
    @include min-w($widthDesktopSmall) {
      @include flex(space-between, flex-start, row, nowrap);
    }
  }
  &__figure {
    margin-bottom: 65px;
    position: relative;
    z-index: 15;
    @include min-w($widthDesktopSmall) {
      flex: 0 0 50%;
      order: 2;
      margin-bottom: 85px;
    }
    #bonnie {
      position: relative;
      transform: scale(1.45);
      margin: 0 auto;
      width: 330px;
      height: 360px;
      @include min-w($widthTabletMedium) {
        width: 400px;
        height: 440px;
      }
    }
  }
  &__bubbles {
    position: absolute;
    right: 40%;
    top: -50px;
    svg {
      fill: #fff;
    }
  }
  &__overlay {
    opacity: 0;
    pointer-events: none;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    border-radius: 0 0 33px 33px;
    background: linear-gradient(
      180deg,
      rgba(199, 184, 237, 0),
      rgba(199, 184, 237, 0.3) 47%,
      rgba(199, 184, 237, 0)
    );
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease 0.33s;
    &.active {
      z-index: 10;
      pointer-events: all;
      opacity: 1;
    }
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    &.bonnie__list--footer {
      @include flex(flex-start, stretch, row, nowrap);
      .bonnie__list-item {
        flex: 1 0 370px;
        background-color: transparent;
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
      .bonnie__list-subtitle {
        display: inline;
        font-size: 14px;
      }
    }
    @include min-w($widthTabletMedium) {
      @include flex(space-between, center);
    }
    @include min-w($widthDesktopSmall) {
      flex: 0 0 25%;
      flex-direction: column;
      align-items: stretch;
      order: 3;
      margin-top: 90px;
    }
    &-item {
      border-radius: 12px;
      background: hsla(0, 0%, 100%, 0.5);
      padding: 15px;
      margin-bottom: 15px;
      position: relative;
      @include flex(flex-start, center, row, nowrap);
      @include min-w($widthTabletMedium) {
        flex: 0 0 48%;
      }
      @include min-w($widthDesktopSmall) {
        background-color: transparent;
        margin-bottom: 0;
        &::before {
          content: '';
          position: absolute;
          top: auto;
          left: -70px;
          display: block;
          border-top: 4px dotted #b1a7c2;
          height: 4px;
          width: 64px;
          transform: scale(0.5);
        }
      }
    }
    &-icon {
      svg {
        fill: #958ba6;
      }
    }
    &-text {
      margin-left: 30px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        left: -14.5px;
        background: rgba(133, 144, 147, 0.3);
      }
    }
    &-title {
      @include font(false, 18, #7f7096, 600);
      margin-bottom: 4px;
    }
    &-subtitle {
      @include font(false, 14, #8b819b);
    }
    &-inline {
      display: inline;
      @include font(false, 14, #7c767f, 700);
    }
  }
  &__steps {
    padding: 38px 30px 22px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    margin-top: 8px;
    max-width: 550px;
    margin: 0 auto;
    transition: all ease 0.22s;
  }
  &__step {
    display: none;
    &.active {
      display: block;
    }
    &-title {
      @include font(false, 16, #876faa);
      margin-bottom: 15px;
      text-align: center;
      @include min-w($widthMobileMedium) {
        font-size: 22px;
      }
      @include min-w($widthDesktopSmall) {
        font-size: 26px;
        margin-bottom: 20px;
      }
    }
    &-text {
      @include font(false, 14, #3c3b3c, 300);
      line-height: 1.5;
      margin-bottom: 18px;
      text-align: center;
      @include min-w($widthMobileMedium) {
        font-size: 17px;
      }
      @include min-w($widthDesktopSmall) {
        font-size: 20px;
        margin-bottom: 24px;
      }
    }
  }
  &__btn {
    display: block;
    line-height: 1.22;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
    &--next {
      @include font(false, 16, #5575c5);
      text-decoration: underline;
      @include min-w($widthDesktopSmall) {
        font-size: 18px;
      }
    }
    &--close {
      @include font(false, 14, #936262);
      margin-top: 28px;
      text-decoration: none;
    }
  }
  .crowdsale {
    @include font('Roboto');
    @include min-w($widthDesktopSmall) {
      position: relative;
      flex: 0 0 25%;
      order: 1;
      margin-top: 135px;
      &::before {
        content: '';
        position: absolute;
        top: 48%;
        right: -50px;
        display: block;
        border-top: 4px dotted #b1a7c2;
        height: 4px;
        width: 64px;
        transform: scale(0.5);
      }
    }
    &__interval {
      margin-bottom: 25px;
    }
    &__wrapper {
      max-width: 280px;
      width: 100%;
      margin: 0 auto 40px;
      p {
        @include font(false, 14, #8b819b);
        line-height: 1.4;
        text-align: center;
        margin: 0;
        @include min-w($widthDesktopSmall) {
          text-align: left;
        }
      }
      @include min-w($widthDesktopSmall) {
        margin: 0;
      }
    }
    &__amount {
      @include font(false, 23, #7a7096);
      margin-bottom: 25px;
      text-align: center;
      p {
        display: inline;
        @include font(false, 23, false, 500);
      }
      @include min-w($widthDesktopSmall) {
        text-align: left;
      }
    }
    &__slogan {
      p {
        @include font(false, 12, #7c767f);
        text-align: center;
        line-height: 1.5;
        margin: 0;
        @include min-w($widthTabletSmall) {
          font-size: 14px;
        }
        @include min-w($widthDesktopSmall) {
          font-size: 16px;
        }
      }
    }
  }
  .btn.btn--primary {
    margin-bottom: 35px;
    @include min-w($widthDesktopSmall) {
      margin-bottom: 55px;
      padding: 24px 90px;
      max-width: 350px;
    }
  }
}
