.main
  .main__section
    .main__section-image
     +image('main-bg.jpeg')
    .main__recommend
      .container.container--main
        include ../card/card.pug
    .main__bonnie
      .container.container--main
        .main__title
          p Рекомендуем
          h2 BITBON SYSTEM
          h3 (базовая информация о Системе Битбон)
        .swipeable
          .swipeable__list
            a(href="/").main__icon
              +svg('developer', 40, 40)
              .main__icon-desc Компания разработчик
            a(href="/").main__icon
              +svg('developer', 40, 40)
              .main__icon-desc White Paper Системы Bitbon
            a(href="/").main__icon.main__icon--center
              +svg('achievement', 40, 40)
              h5 Суть проекта
              p (Обязательно к прочтению)
            a(href="/").main__icon
              +svg('developer', 40, 40)
              .main__icon-desc Статистика в графиках
            a(href="/").main__icon
              +svg('developer', 40, 40)
              .main__icon-desc Глобальные перспективы
        include ./bonnie/bonnie.pug
  .main__section.main__section--dark
    .main__news
      .container.container--main
        .main__title
          p Свежие
          h2 НОВОСТИ
          h3 (о криптовалютном регулировании, Блокчейне и Системе Битбон)
        .main__news-wrapper
          .swipeable
            .swipeable__list.start
              include ../news/card/card.pug
              include ../news/card/card.pug
              include ../news/card/card.pug
              include ../news/card/card.pug
        a(href="/").main__link Перейти ко всем новостям
          +svg('arrow-right', 14, 7)
          
