.about__menu
  button.about__menu-btn
    .about__menu-btn__title навигация
    .about__menu-btn__subtitle по сути проекта
  .about__menu-wrapper
    button.about__menu-close
      +svg('close', 25, 25)
    .about__menu-title Навигация по сути проекта
    ul.about__menu-list