@import './about-section/about-section.scss';
@import './about-menu/about-menu.scss';
.about {
  padding-top: 120px;
  // Главный экран страницы
  &__top {
    min-height: calc(100vh - 100px);
    @include font('Roboto');
    padding-bottom: 150px;
    padding-top: 25px;
    @include min-w($widthTabletLarge) {
      padding-top: 25px;
      @include center();
    }
  }
  &__title {
    @include font(false, 36, false, 900);
    text-align: center;
    margin-bottom: 30px;
    @include min-w($widthTabletMedium) {
      font-size: 50px;
    }
    @include min-w($widthDesktopSmall) {
      font-size: 66px;
    }
  }
  &__undertitle {
    @include font(false, 14, var(--color-grey));
    text-align: center;
    line-height: 1.56;
    margin-bottom: 60px;
    @include min-w($widthTabletLarge) {
      font-size: 16px;
    }
    @include min-h($heightMedium) {
      margin-bottom: 80px;
    }
    @include min-h($heightLarge) {
      margin-bottom: 100px;
    }
  }
  &__caption {
    @include font(false, 14);
    text-align: center;
    line-height: 1.56;
    margin-bottom: 20px;
    @include min-w($widthTabletMedium) {
      max-width: 425px;
    }
    @include min-w($widthTabletLarge) {
      font-size: 16px;
    }
    @include min-w($widthDesktopSmall) {
      margin-bottom: 25px;
    }
  }
  &__lead {
    @include center();
    color: #c5c5c5;
    margin-bottom: 25px;
    svg {
      fill: #c5c5c5;
    }
    &::after,
    &::before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 1px;
      background: #c5c5c5;
    }
    &::after {
      margin-left: 10px;
    }
    &::before {
      margin-right: 10px;
    }
    @include min-w($widthDesktopSmall) {
      margin-bottom: 35px;
    }
  }
  // Стили кнопок
}
