.about
  .about__top
    .container.container__about--header
      .about__title(data-aos="zoom-in" data-aos-delay="300") СУТЬ ПРОЕКТА
        br 
        |«BITBON SYSTEM»
      .about__undertitle(data-aos="fade-up" data-aos-delay="350") Главное о Системе Битбон для Инвестора от информационно-новостного портала Bitbon.Today
      .about__caption(data-aos="fade-up" data-aos-delay="520") Для понимания перспектив Bitbon System настоятельно рекомендуем Вам изучить весь материал изложенный на данной странице
      .about__lead(data-aos="fade-up" data-aos-delay="540") или
      button.btn.btn--secondary(data-aos="fade-up" data-aos-delay="560" data-aos-offset="0" data-need-scroll="Developer")
        +svg('arrows', 20, 20)
        span Узнать выгоду от инвестирования
        +svg('arrows', 20, 20)
  include ./about-section/about-section.pug
  include ./about-menu/about-menu.pug