.card__list
  .card__wrapper
    a(href="/").card__item
      .card__img
        +image('card_01.jpg')
        .card__filters
          .card__filters-item
            +svg('logo', 38, 38)
          .card__filters-item
            +svg('logo', 38, 38)
          .card__filters-item
            +svg('logo', 38, 38)
      .card__body
        .card__title Что такое Контрибьютинг и как зарабатывать, инвестируя цифровой актив Bitbon в стартапы
        .card__link Подробнее
        .card__bottom
          .card__author
            .card__author-img
              img(src="https://bitbon.today/media/avatar/Maria.jpg" alt="")
            .card__author-name Maria
  .card__wrapper
    a(href="/").card__item
      .card__img
        +image('card_01.jpg')
        .card__filters
          .card__filters-item
            +svg('logo', 38, 38)
          .card__filters-item
            +svg('logo', 38, 38)
          .card__filters-item
            +svg('logo', 38, 38)
      .card__body
        .card__title Как стать инвестором, найти проект и финансировать его
        .card__link Подробнее
        .card__bottom
          .card__author
            .card__author-img
              img(src="https://bitbon.today/media/avatar/Maria.jpg" alt="")
            .card__author-name Maria