.card {
  a {
    text-decoration: none;
  }
  &__list {
    @include min-w($widthTabletSmall) {
      @include flex(center);
      overflow: hidden;
      margin: 0 -20px;
    }
    @include min-w($widthTabletLarge) {
      flex-direction: column;
      margin: 0;
      overflow: initial;
    }
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    display: block;
    width: 88%;
    height: 95%;
    border-radius: 20px;
    box-shadow: 0 0 54px 0 rgba(68, 65, 78, 0.45);
    background-color: transparent;
    z-index: 0;
  }
  &__views {
    position: absolute;
    bottom: 15px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    padding: 6px 10px;
    @include center();
    @include font(false, 11, #fff);
    span {
      line-height: 1;
    }
    svg {
      margin-right: 5px;
      fill: none;
      stroke: #fff;
    }
  }
  &__img {
    position: relative;
    height: 250px;
    img {
      border-radius: 20px 20px 0 0;
      background-color: #fff;
    }
  }
  &__body {
    border-radius: 0 0 20px 20px;
    background-color: #fdfaff;
    position: relative;
    z-index: 5;
  }
  &__link {
    display: none;
    text-align: center;
    text-decoration: none;
    @include font(false, 18, #5575c5);
    @include center();
    line-height: 1;
    svg {
      fill: none;
      stroke: #5575c5;
      margin-left: 5px;
    }
    @include min-w($widthTabletLarge) {
      display: block;
      transition: color 0.15s ease;
      &:hover {
        color: #7b94d2;
      }
    }
  }
  &__title {
    @include font(false, 20, false, 700);
    line-height: 1.2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 23px;
  }
  &__bottom {
    @include flex(flex-start, center);
    @include font('Roboto', 14, #9e9e9f);
    @include min-w($widthTabletLarge) {
      order: -1;
    }
  }
  &__author {
    @include flex(flex-start, center);
    &-img {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 9px;
      @include center();
      img {
        max-width: 20px;
        max-height: 20px;
      }
      @include min-w($widthTabletSmall) {
        width: 20px;
        height: 20px;
      }
    }
    &-name {
      line-height: 1;
    }
  }
  &__wrapper {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &.card__wrapper--news {
      flex: 0 0 290px;
      padding: 0 12.5px;
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
    @include min-w($widthTabletSmall) {
      flex: 0 0 50%;
      padding: 0 20px;
    }
    @include min-w($widthTabletLarge) {
      flex: none;
      padding: 0;
    }
  }
  &__heading {
    @include flex(flex-start, center);
    span {
      line-height: 1;
    }
    svg {
      fill: none;
      stroke: #9e9e9f;
      margin-right: 9px;
    }
  }
}
