:root {
  --color-primary: #653e8a;
  --color-black: #000;
  --color-white: #c3c3c3;
  --active-icon: #8577be;
  --active-icon-bright: #7c48d0;
  --color-grey: #939393;
}

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Proxima Nova';
  font-weight: 400;
  color: #333;
  overflow-x: hidden;
  &.body--about {
    background: #f7f7f7;
  }
  &.block-scroll {
    overflow: hidden;
  }
}

.wrapper {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

svg:not(:root) {
  overflow: hidden;
}

// Containers
.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  &.container--main {
    padding: 0 25px;
    @include min-w($widthDesktopSmall) {
      max-width: 1200px;
    }
  }
  &--header {
    padding: 0 19px;
    @include min-w($widthDesktopSmall) {
      max-width: 1150px;
      padding: 0;
    }
  }
  &--footer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    @include min-w($widthTabletMedium) {
      @include flex(space-between, center);
    }
  }
  &__about {
    &--header {
      @include flex(flex-start, center, column);
      padding: 0 15px;
      max-width: 800px;
    }
  }
}

.video {
  margin-bottom: 35px;
  margin-top: 45px;
}

// Кнопки
$borderRadius: 20px;
.btn {
  @include font('Roboto');
  display: block;
  text-align: center;
  padding: 20px 25px;
  border-radius: $borderRadius;
  text-decoration: none;
  overflow: hidden;
  outline: none;
  border: none;
  position: relative;
  cursor: pointer;
  span {
    position: relative;
    z-index: 4;
  }
  &.btn--primary {
    color: #fff;
    font-size: 20px;
    background-color: #607dcf;
    background-image: linear-gradient(90deg, #565dd6 0, #8147c1);
    max-width: 270px;
    padding: 25px 70px;
    &:hover {
      &::before {
        opacity: 1;
      }
    }
    &::before {
      content: '';
      position: absolute;
      background: linear-gradient(90deg, #3c86f5, #a347e8);
      transition: all 0.7s ease 0s;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 2;
      opacity: 0;
      border-radius: $borderRadius;
      pointer-events: none;
    }
    @include min-w($widthTabletLarge) {
      padding: 20px 50px;
      font-size: 18px;
      border-radius: 15px;
    }
  }
  &.btn--secondary {
    @include center;
    padding: 18px 15px;
    border-radius: 13px;
    box-shadow: 0 10px 29px rgba(228, 132, 50, 0.5);
    &:hover {
      &::after {
        opacity: 1;
      }
    }
    @include min-w($widthTabletLarge) {
      padding: 18px 35px;
    }
    span {
      @include font(false, 14, #fff);
      margin: 0 10px;
      position: relative;
      @include min-w($widthTabletMedium) {
        font-size: 16px;
      }
      @include min-w($widthTabletLarge) {
        font-size: 18px;
      }
    }
    svg {
      position: relative;
      z-index: 10;
      fill: rgba(255, 255, 255, 0.8);
    }
    &::after,
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
    }
    &::before {
      transition: z-index 0.2s ease-in-out;
      background-image: linear-gradient(45deg, #e8a127, #e48432);
      z-index: 2;
    }
    &::after {
      transition: all 0.2s ease-in-out;
      z-index: 3;
      opacity: 0;
      background-image: linear-gradient(45deg, #e48432, #e8a127);
    }
  }
  &.btn--blue {
    @include center();
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    background-color: rgba(79, 94, 179, 0.1);
    padding: 16px 15px;
    transition: background 0.15s ease;
    z-index: 15;
    @include min-w($widthDesktopSmall) {
      width: 360px;
      &:hover {
        background-color: rgba(79, 94, 179, 0.15);
      }
    }
    svg {
      fill: none;
      stroke: #3f5eb3;
    }
    span {
      @include font(false, 15, #3f5eb3, 300);
      margin: 0 20px;
    }
  }
}

// Ленивая загрузка
.lazy {
  transition: all ease 0.3s;
  background-color: rgb(189, 189, 189);
}
