.text {
  .caption {
    @include font('Nova', 14, #848484);
    font-style: italic;
    text-align: center;
    margin-top: 15px;
  }
  p {
    @include font('Nova', 18);
    line-height: 1.56;
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    @include min-w($widthTabletMedium) {
      line-height: 1.7em;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    @include min-w($widthDesktopSmall) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      font-size: 20px;
    }
  }
  a {
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
    color: #7c48d0;
    text-decoration: none;
    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }
    &::before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: #7c48d0;
      position: absolute;
      left: 0;
      bottom: -2px;
      transform-origin: center;
      transform: scaleX(0);
      transition: transform 0.15s ease-in-out;
    }
  }
  iframe {
    border-radius: 10px !important;
    overflow: hidden !important;
    height: 260px;
    width: 100%;
    @include min-w($widthTabletMedium) {
      height: 300px;
    }
    @include min-w($widthTabletLarge) {
      height: 360px;
    }
    @include min-w($widthDesktopSmall) {
      height: 400px;
    }
    @include min-w($widthDesktopMedium) {
      height: 450px;
    }
  }
}
// Списки
.text {
  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    li {
      position: relative;
      padding-left: 25px;
      @include font('Nova', 18);
      line-height: 1.8;
      &:not(:last-child) {
        margin-bottom: 14px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 13px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #856fd0;
      }
      @include min-w($widthDesktopSmall) {
        &:not(:last-child) {
          margin-bottom: 14px;
        }
        font-size: 20px;
        line-height: 2;
        &::before {
          top: 17px;
        }
      }
    }
  }
}
