$widthMobileSmall: 320;
$widthMobileMedium: 360;
$widthMobileLarge: 400;

$widthTabletSmall: 720;
$widthTabletMedium: 768;
$widthTabletLarge: 1024;

$widthDesktopSmall: 1200;
$widthDesktopMedium: 1366;
$widthDesktopLarge: 1920;

$heightSmall: 480;
$heightMedium: 640;
$heightLarge: 768;
$heightExtraLarge: 940;
