footer.footer
  .footer__inner
    .container.container--footer
      .footer__row
        .footer__left
          a.logo.logo--footer(href="/")
            .logo__name
              .logo__top Bitbon.
              .logo__bottom Today
          .footer__text BITBON.TODAY – информационно-новостной портал для людей, которые хотят изучить блокчейн индустрию, природу денег и нацелены на успешное будущее вместе с Системой Bitbon.
        .footer__right
          .footer__social-list
            a.footer__social-item(href="/")
              +svg('telegram', 30, 30)
            a.footer__social-item(href="/")
              +svg('instagram', 30, 30)
            a.footer__social-item(href="/")
              +svg('twitter', 30, 30)
            a.footer__social-item(href="/")
              +svg('facebook', 30, 30)
            a.footer__social-item(href="/")
              +svg('vk', 30, 30)
          a.btn.btn--primary(href="/")
            span Купить Bitbon
    .footer__wrapper
      .container.container--footer
        .footer__row.footer__row--blue
          .footer__copyright
            .footer__links
              a(href="/") Отказ от ответственности
              a(href="/") Политика конфиденциальности
              a(href="/") Согласие с рассылкой
              a(href="/") Политика использования файлов Cookies
        .footer__row.footer__row--dark
          .copyright BITBON TODAY © 2020
      