.articles
  img(src="https://bitbon.today/static/images/news_bg1.jpg" alt="").articles__poster
  .articles__header
    .articles__header-container
      h1.articles__title Новости Системы Битбон и ключевые события блокчейн индустрии
      h2.articles__undertitle Самые свежие новости Bitbon System, цифрового актива Bitbon, технологии Блокчейн и правового регулирования криптоиндустрии со всех уголков мира.
  .articles__section
    #articles__container(data-page="novosti")
      .filter
        .filter__title Фильтрация новостей по категориям
        .filter__section
          .filter__container
            .filter__list
              .filter__btn-skeleton
              .filter__btn-skeleton
              .filter__btn-skeleton
              .filter__btn-skeleton
      .card__list.card__list--news
      .card__loading
    


            