.card.card--news
  a(href="/")
    .card__img
      +image('card_01_news.jpg')
    .card__body
      .card__title Майнерам,‌ ‌владельцам‌ ‌бизнеса,‌ ‌ предпринимателям‌ ‌и‌ ‌инвесторам‌
      .card__bottom
        .card__heading
          +svg('time', 15, 15)
          span 02.02.2020
                    