.card {
  &.card--news {
    @include font('Nova', false, inherit);
    flex: 0 0 290px;
    padding: 0 12.5px;
    position: relative;
    @include min-w($widthDesktopSmall) {
      flex: 0 0 25%;
    }
    @include min-w($widthDesktopSmall) {
      transition: transform 0.15s ease-in-out;
      &:hover {
        transform: translateY(-6px);
      }
    }
    &::before {
      border-radius: 20px;
      box-shadow: 0 3px 30px #000;
    }
    .card__img {
      position: relative;
      height: 185px;
      img {
        border-radius: 23px 23px 0 0;
        background-color: #fff;
      }
    }
    .card__body {
      padding: 20px 17px 17px;
      border-radius: 0 0 23px 23px;
    }
    .card__title {
      @include font(false, 18, #2f2f2f, 700);
      line-height: 1.2;
      transition: color 0.33s ease;
      &:hover {
        color: #6163b9;
      }
    }
    .card__body {
      .card__bottom {
        @include flex(flex-start, center);
        @include font('Roboto', 14, #9e9e9f);
      }
    }
  }
}
