.opport
  .swipeable
    .swipeable__list
      .opport__item
        img(src="https://bitbon.today/static/images/opportunities__bg1.jpg" alt="alt")
        .opport__container
          .opport__ellipse для
          .opport__inner
            .opport__title Бизнеса
            .opport__wrapper
              .opport__info Совсем скоро здесь будет опубликовано уникальные возможности для бизнеса
      .opport__item
        img(src="https://bitbon.today/static/images/opportunities__bg2.jpg" alt="alt")
        .opport__container
          .opport__ellipse для
          .opport__inner
            .opport__title Бизнеса
            .opport__wrapper
              .opport__info Совсем скоро здесь будет опубликовано уникальные возможности для бизнеса
      .opport__item
        img(src="https://bitbon.today/static/images/opportunities__bg3.jpg" alt="alt")
        .opport__container
          .opport__ellipse для
          .opport__inner
            .opport__title Бизнеса
            .opport__wrapper
              .opport__info Совсем скоро здесь будет опубликовано уникальные возможности для бизнеса
                    
      